body {
    font-family: "Varta", sans-serif;
    font-weight: 400;
    text-align: center;
}

header {
    font-family: "Faustina", serif;
    font-size: 1.4em;
    color: #2aa9b5;
    text-align: center;
}

input {
    width: 40%;
    max-width: 350px;
    font-size: 1.2em;
    padding: 8px;
    margin-bottom: 50px;
    font-weight: 300;

    border: 1px solid grey;
    outline: none;
    border-radius: 4px;

    transition: 0.6s ease-out;
}

input:focus {
    box-shadow: 0px 0px 3px 2px #2aa9b5;
}

.newsItem {
    width: 70%;
    max-width: 650px;
    margin: 10px auto;
    text-align: left;

    border: solid 1px grey;
    border-radius: 5px;
    padding: 15px;

    transition: 0.3s ease-in-out;
}

.newsItem:hover {
    box-shadow: 5px 5px lightgrey;
}

.newsItem a {
    text-decoration: none;
    color: #2aa9b5;
}

.newsItem a:hover {
    color: #3ad9e8;
}
